<%= render 'form', post: @post %>


<div class="container" align="center">
    <div class="card" style="width: 20rem;">
        <%= link_to 'Back', posts_path, :class=>"btn btn-primary"%>
    </div>
</div>