<!-- Footer -->
<footer class="bg-light text-center text-lg-start fixed-bottom">
    <p class="m-0 text-dark text-center ">
    <a class="text-dark" href="https://github.com/ArturGin/Yatube_on_rails">GitHub_README.MD</a>
    </p>
  <p class="m-0 text-dark text-center ">Social Network <span style="color:red">Ya</span>tube </p>
</footer>


